body {
  background-color: #352f5b;
}

.container {
  max-width: 450px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}
ul {
  max-height: 600px;
  overflow-y: scroll;
}
li.list-group-item {
  background-color: #423a6f;
  color: #f8f9fa;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

label.add {
  margin-bottom: 15px;
}

.filtred {
  display: none !important;
}
.search {
  position: relative;
}
.searchicon {
  right: 20px;
  top: 20%;
  position: absolute;
}
.container {
  margin: auto;
}
.icon {
  display: flex;
  height: 100%;
  width: 12%;
  justify-content: center;
  align-items: center;
}
.text {
  display: flex;
  height: 100%;
  width: 88%;
  justify-content: start;
  align-items: center;
}
.header-search {
  height: 3.5rem;
}
.button {
  width: 100%;
  font-weight: 600;
}
.dcolor {
  color: white;
}
.dcolor:hover {
  color: #c40404;
}
.ecolor {
  color: white;
}
.ecolor:hover {
  color: #1331f3;
}
.complete {
  color: rgb(136, 222, 7);
}
