.alignments {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  flex-direction: column;
}
.submit {
  width: 200px;
}
.content {
  width: 360px;
  height: 300px;
}
.gap {
  padding: 10px;
}
