.hero-wrapper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
  background-color: var(--black);
}

.hero-container {
  justify-content: space-between;
  align-items: flex-end;
}
/* left side */

.hero-left {
  gap: 3rem;
}

.hero-title {
  position: relative;
  z-index: 1;
}

.hero-title > h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
}

.orange-circle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--orange-gradient);
  right: 7rem;
  top: -1.1rem;
  z-index: -1;
}

.search-bar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120, 120, 120, 0.37);
  padding: 0.3rem 1rem;
  justify-content: space-between;
  width: 100%;
}

.search-bar > input {
  border: none;
  outline: none;
}
/* right side */
.image-container {
  width: 45rem;
  height: 30rem;
  overflow: hidden;
  border: 8px solid rgba(255, 255, 255, 0.12);
  object-fit: cover;
}

/* img {
    object-fit: contain;
  } */
@media (max-width: 800px) {
  .hero-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-title > h1 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2rem;
  }
  .orange-circle {
    height: 2rem;
    width: 2rem;
    right: 4rem;
    top: -0.7rem;
  }
  .hero-des {
    font-size: 0.7rem;
  }
  .hero-right {
    display: flex;
  }
  .image-container {
    width: 23rem;
    height: 15rem;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.12);
    object-fit: fill;
  }
}
