.card-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  min-height: 490px;
  width: 875px;
  margin-top: 30px;
  background-color: #a0cdcf;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content {
  min-height: 350px;
  width: 800px;
  display: flex;
}
.left-side {
  width: 500px;
  background-color: #b2e5e6;
}
.right-side {
  background-color: rgb(0, 64, 255);
}
.right-side img {
  width: 305px;
  height: 425px;
  object-fit: cover;
}
.card-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  width: auto;
  height: 100%;
}
.follow-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 300px;
}
.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2e5e6;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.icon:hover {
  background-color: rgb(165, 202, 189);
  transform: translate(0, -10px);
}
.fabicon {
  height: 50px;
  width: 50px;
}
button {
  width: 120px;
}
