.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  margin-right: 1rem;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.radio-button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.radio-button:hover {
  background-color: #555e7d;
}

.radio-button:focus {
  outline: none;
}

label {
  font: 1rem "Fira Sans", sans-serif;
  margin-left: 1rem;
  font-weight: 600;
}
label:hover {
  cursor: pointer;
}

input[type="radio"] {
  width: 1.2rem;
  height: 1.2rem;
}
input[type="radio"]:hover {
  cursor: pointer;
}
button {
  width: 100%;
}
.timer {
  background-color: #252d4a;
  margin-top: 12.2rem;
  border: 1px solid white;
  border-radius: 10px;
  height: 2.5rem;
  width: 5rem;
}
.quiz-wrapper {
  min-height: 100vh; /* Set the minimum height to fill the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  background-color: #234668;
}
